:root {
  --bgColor: #FFFFFF;
  --sectionBgColor: #F1FDFF;
  --sectionSecondBgColor: #F2FEFF;
  --contactBgColor: #F9FADF;
  --textColor: #000000;
  --secondTextColor: #3D8C9D;
  --descriptionColor: #73A6B1;
  --accentColor: #9AD2DE;
  --btnColor: #7AE5FD;
  --time: 250ms;
  --duration: cubic-bezier(0.4, 0, 0.2, 1);
  --mobile: 390px;
  --tablet: 768px;
  --desktop: 1440px;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  min-width: var(--mobile);
  margin: 0;
  color: var(--textColor);
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
}
@media screen and (min-width: 1440px) {
  body {
    font-size: 20px;
  }
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
  cursor: pointer;
}

.section {
  margin: 0 auto;
  padding: 0 20px;
}
@media screen and (min-width: 1440px) {
  .section {
    padding: 0 100px;
    max-width: 1440px;
  }
}

.title {
  font-size: 50px;
  font-weight: 400;
  line-height: 0.94;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: var(--textColor);
}
@media screen and (min-width: 1440px) {
  .title {
    font-size: 60px;
    text-align: center;
  }
}

.btn {
  display: block;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 87px;
  background-color: var(--btnColor);
  text-align: center;
  color: var(--textColor);
  font-size: 18px;
  text-transform: uppercase;
  transition: background-color var(--time) var(--duration);
  cursor: pointer;
}
.btn:hover, .btn:focus {
  background-color: var(--accentColor);
}

.btn__menu {
  margin-left: auto;
  padding-top: 46px;
  padding-bottom: 48px;
  width: 42px;
  height: 19px;
  position: relative;
  z-index: 2;
  overflow: hidden;
}
@media screen and (min-width: 1440px) {
  .btn__menu {
    display: none;
  }
}
.btn__menu span {
  width: 42px;
  height: 3px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--btnColor);
  transition: all 0.5s;
}
.btn__menu span:nth-of-type(2) {
  top: calc(50% - 8px);
}
.btn__menu span:nth-of-type(3) {
  top: calc(50% + 8px);
}
.btn__menu.active span:nth-of-type(1) {
  display: none;
}
.btn__menu.active span:nth-of-type(2) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(45deg);
}
.btn__menu.active span:nth-of-type(3) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(-45deg);
}

.program__btn,
.benefit__btn {
  padding: 21px 35px;
  margin: 0 auto;
}

.btn__form {
  width: 100%;
  max-width: 506px;
  padding: 22px 36px;
}

.section__header {
  padding-bottom: 401px;
  margin-bottom: 100px;
  background-repeat: no-repeat;
  background-position: bottom right;
  background-image: url(/images/header/bg_mobile.png), url(/images/header/line_mobile.png);
}
@media screen and (max-width: 1439px) {
  .section__header {
    background-color: var(--sectionBgColor);
  }
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .section__header {
    background-image: url(/images/header/bg@2x_mobile.png), url(/images/header/line@2x_mobile.png);
  }
}
@media screen and (min-width: 1440px) {
  .section__header {
    background-color: var(--bgColor);
    margin-bottom: 143px;
    padding-bottom: 220px;
    background-position: bottom 67px right 0, bottom 0 right 0, top left;
    background-image: url(/images/header/bg_desktop.png), url(/images/header/line_desktop.png), url(/images/header/color.png);
  }
}
@media screen and (min-width: 1440px) and (min-device-pixel-ratio: 2), screen and (min-width: 1440px) and (min-resolution: 192dpi), screen and (min-width: 1440px) and (min-resolution: 2dppx) {
  .section__header {
    background-image: url(/images/header/bg@2x_desktop.png), url(/images/header/line@2x_desktop.png), url(/images/header/color@2x.png);
  }
}

@media screen and (max-width: 1439px) {
  .header__nav {
    position: absolute;
    top: 46px;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 15px;
    background-color: var(--sectionBgColor);
    transform: translateX(-100%);
    transition: transform 0.5s;
  }
  .header__nav.active {
    transform: translateX(0);
  }
}
@media screen and (min-width: 1440px) {
  .header__nav {
    padding-top: 63px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

@media screen and (max-width: 1439px) {
  .logo__svg {
    display: none;
  }
}

.nav__list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 1439px) {
  .nav__list {
    margin-top: 30px;
  }
}
@media screen and (min-width: 1440px) {
  .nav__list {
    flex-direction: row;
  }
}

.nav__item:last-child {
  padding: 21px 28px;
  border-radius: 87px;
  background-color: var(--btnColor);
  text-transform: uppercase;
}

@media screen and (max-width: 1439px) {
  .nav__item:not(:last-child) {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1440px) {
  .nav__item:not(:last-child) {
    margin-right: 56px;
  }
}

.nav__link {
  font-size: 18px;
  line-height: 0.969;
  color: var(--textColor);
  transition: color var(--time) var(--duration);
}
.nav__link:hover, .nav__link:focus {
  color: var(--accentColor);
}

@media screen and (min-width: 1440px) {
  .header__hero {
    margin-top: 73px;
  }
}

.hero__title {
  font-weight: 800;
  font-size: 50px;
  line-height: 0.949;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: var(--accentColor);
  margin-bottom: 36px;
}
@media screen and (min-width: 1440px) {
  .hero__title {
    font-size: 93px;
    margin-bottom: 64px;
  }
}

.section__program {
  margin-bottom: 37px;
}

.program__label {
  font-size: 20px;
  line-height: 0.969;
  margin-top: 17px;
  margin-bottom: 27px;
}
@media screen and (min-width: 1440px) {
  .program__label {
    font-size: 27px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
  }
}

.program__description {
  color: var(--descriptionColor);
  margin-bottom: 57px;
}
@media screen and (min-width: 1440px) {
  .program__description {
    text-align: center;
    margin-bottom: 72px;
  }
}

.program__list {
  margin-bottom: 60px;
}

.program__item {
  background-color: var(--sectionBgColor);
  border-radius: 10px;
}
@media screen and (min-width: 1440px) {
  .program__item {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 40px 40px 70px 40px;
  }
}
.program__item:not(:last-child) {
  margin-bottom: 30px;
}

.program__pic {
  flex-shrink: 0;
}

.program__img {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}
@media screen and (min-width: 1440px) {
  .program__img {
    width: 585px;
    height: 424px;
  }
}

@media screen and (max-width: 1439px) {
  .program__wrapper {
    padding: 45px 15px 70px 15px;
  }
}
.program__wrapper div:not(:last-child) {
  margin-bottom: 50px;
}

.program__title {
  font-weight: 400;
  font-size: 30px;
  line-height: 0.949;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  margin-bottom: 10px;
}
@media screen and (min-width: 1440px) {
  .program__title {
    font-size: 46px;
  }
}

.item__description {
  font-size: 20px;
  line-height: 0.969;
  margin-bottom: 45px;
}

.item__event {
  font-size: 16px;
  line-height: 0.969;
  margin-bottom: 10px;
}

.item__time {
  font-size: 16px;
  line-height: 0.969;
  color: var(--secondTextColor);
}

.section__present {
  position: relative;
  margin: 0 auto;
  padding: 128px 20px 20px 20px;
  margin-bottom: 100px;
}
@media screen and (min-width: 1440px) {
  .section__present {
    max-width: 1440px;
    padding: 280px 78px 180px 77px;
    background-image: url(/images/present/bg.png);
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 78px;
  }
}

.present__wrapper {
  background-color: var(--sectionSecondBgColor);
  border-radius: 10px;
}
@media screen and (max-width: 1439px) {
  .present__wrapper {
    padding: 283px 15px 40px 15px;
  }
}
@media screen and (min-width: 1440px) {
  .present__wrapper {
    margin-left: 23px;
    margin-right: 23px;
  }
}

.present__description {
  font-size: 20px;
}
@media screen and (min-width: 1440px) {
  .present__description {
    padding: 88px 808px 88px 40px;
    font-size: 27px;
  }
}

.present__img {
  position: absolute;
  top: 0;
  object-fit: cover;
}
@media screen and (max-width: 1439px) {
  .present__img {
    left: 50%;
    transform: translateX(-50%);
  }
}
@media screen and (min-width: 1440px) {
  .present__img {
    width: 430px;
    top: 200px;
    right: 160px;
  }
}

.section__benefit {
  margin-bottom: 70px;
}
@media screen and (min-width: 1440px) {
  .section__benefit {
    margin-bottom: 146px;
  }
}

.benefit__description {
  color: var(--descriptionColor);
  margin-top: 17px;
  margin-bottom: 82px;
}
@media screen and (min-width: 1440px) {
  .benefit__description {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 77px;
  }
}

.benefit__text {
  font-size: 20px;
  line-height: 0.969;
  text-align: center;
  margin-bottom: 20px;
}
@media screen and (min-width: 1440px) {
  .benefit__text {
    font-size: 27px;
    margin-bottom: 23px;
  }
}

.benefit__quantity {
  font-size: 60px;
  line-height: 0.949;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  margin-bottom: 67px;
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 1440px) {
  .benefit__quantity {
    font-size: 60px;
    margin-bottom: 67px;
  }
}
.benefit__quantity span:not(:last-child) {
  display: flex;
}
.benefit__quantity span:not(:last-child)::after {
  display: block;
  content: "";
  width: 2px;
  height: 62px;
  background-color: var(--accentColor);
  margin-right: 13px;
  margin-left: 13px;
}

.section__contacts {
  margin: 0 auto;
  background-color: var(--contactBgColor);
}
@media screen and (min-width: 1440px) {
  .section__contacts {
    padding: 0 100px 116px 100px;
    background-image: url(/images/contacts/bg.png);
    background-repeat: no-repeat;
    background-position-y: -81px;
    max-width: 1440px;
  }
}

.contacts__wrapper {
  padding: 70px 20px 95px 20px;
}
@media screen and (min-width: 1440px) {
  .contacts__wrapper {
    padding: 57px 286px 101px 100px;
    display: flex;
  }
}
@media screen and (max-width: 1439px) {
  .contacts__wrapper div {
    margin-top: 44px;
  }
}
@media screen and (min-width: 1440px) {
  .contacts__wrapper div {
    display: flex;
    flex-direction: column;
    margin-left: 258px;
  }
}

.contacts__description {
  margin-top: 7px;
}

.contacts__link {
  font-weight: 700;
  color: var(--textColor);
}

.socnet__list {
  display: flex;
  margin-top: 41px;
}
@media screen and (min-width: 1440px) {
  .socnet__list {
    margin-top: 57px;
  }
}

.socnet__item:not(:last-child) {
  margin-right: 16px;
}

svg {
  fill: var(--textColor);
  transition: fill var(--time) var(--duration);
}
svg:hover, svg:focus {
  fill: var(--accentColor);
}

.form__wrapper {
  background-color: var(--bgColor);
  padding: 36px 20px 130px 20px;
}
@media screen and (min-width: 1440px) {
  .form__wrapper {
    padding: 37px 97px 54px 39px;
    display: flex;
    align-items: flex-start;
  }
}

.form__pic {
  flex-shrink: 0;
}

.contacts__img {
  width: 100%;
  object-fit: cover;
}
@media screen and (min-width: 1440px) {
  .contacts__img {
    width: 508px;
  }
}

@media screen and (min-width: 1440px) {
  .form__inner {
    margin-left: 89px;
  }
}

@media screen and (max-width: 1439px) {
  .contacts__form {
    margin: 0 auto;
    max-width: 506px;
  }
}

.form__description {
  font-size: 20px;
  margin-bottom: 63px;
  margin-top: 89px;
}
@media screen and (min-width: 1440px) {
  .form__description {
    font-size: 27px;
    margin-bottom: 39px;
    margin-top: 0;
  }
}

.form__field {
  position: relative;
  margin-bottom: 31px;
}

.form__input {
  width: 100%;
  border: none;
  border-radius: 61px;
  background-color: var(--contactBgColor);
  padding: 21px 43px;
}

.form__label {
  position: absolute;
  top: 21px;
  left: 43px;
  transition: transform 0.1s ease-in-out;
}

.form__input:focus + .form_label,
.form__input:not(:placeholder-shown) + .form__label {
  background-color: #fff;
  font-size: 14px;
  padding: 0 5px;
  transform: translateY(-28px);
}/*# sourceMappingURL=main.css.map */