.title {
    font-size: 50px;
    font-weight: 400;
    line-height: 0.94;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: var(--textColor);

    @media screen and (min-width: $desktop) {
        font-size: 60px;
        text-align: center;
    }
}